.topbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f7f7f7;
    border-radius: 4px 4px 0 0;
}

.topbar-btn {
    padding: 10px 23px;
    margin: 19px 0;
    border: none;
    background-color: #f7f7f7;
    cursor: pointer;
    text-align: center;
    font-size: 100%;
    font: inherit;
}

.topbar-btn:hover {
    background-color: #eeeeee;
    border-radius: 6px;
}