.intro-block-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro-txt-wrapper {
    display: flex;
    flex-direction: column;
}

.phone-img {
    padding: 10px;
    border-radius: 100%;
    width: 16em;
    border: 0.5px solid #dddddd;
    margin-left: 4em;
}

p {
    margin-bottom: 25px;
}