body {
  margin: 0;
  padding: 0;
  min-height: 1000px;
  background-color: #935d8c;
  color: rgba(255, 255, 255, 0.65);
  background: linear-gradient(180deg, #e37682 15%, #5f4d93 85%);
  font-size: 20px;
}

body h1, h2, div, p {
  margin: 0;
}

.main-block-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-block {
  background-color: white;
  width: 80%;
  border-radius: 4px;
}